.dashboard {
    display: grid;
    width: 100%;
    margin: 0 auto;
    gap: 20px;
    background: #f8f9fa;
    padding: 20px;
  }
  
  /* 네비게이션 바 */
  .nav-bar {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
    padding: 16px 0;
  }
  
  .nav-item {
    margin: 0 20px;
    font-size: 20px;
    font-weight: 600;
    color: rgba(96, 103, 117, 0.75);
  }
  
  .nav-item.active {
    color: rgba(45, 55, 72, 0.75);
  }
  
  /* 오늘의 매출 정보 */
  .today-sales {
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(237, 237, 237, 0.5);
  }
  
  .sales-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
  }
  
  .sales-card {
    width: 200px;
    border-radius: 16px;
    padding: 20px;
    position: relative;
  }
  
  .icon {
    border-radius: 50%;

  }
  
  
  .title {
    font-size: 16px;
    color: #425166;
  }
  
  .value {
    font-size: 24px;
    font-weight: 600;
    color: #151d48;
  }
  
  .percentage {
    font-size: 12px;
    font-weight: 500;
    color: #4079ed;
    margin-top: 10px;
  }

  .inform-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  /* 정산 예정 금액 */
  .settlement {
    height: 443px;
    margin-top: 10px;
    margin-left: 10px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.04);
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    height: 443px;
  }
  
  .table-head {
    display: flex;
    justify-content: space-between;
    font-size: medium;
    font-weight: 600;
    color: #828282;
    padding-bottom: 10px;
    font-size: medium;
  }
  
  .table-body .table-row {
    display: flex;
    height: auto;
    justify-content: space-between;
    border-top: 1px solid #e0e0e0;
    font-size: 16px;
    color: black;
  }

  /* 중간 차트*/
  .chart-container {
    position: relative;
    margin-top: 30px;
  }
  
  .chart-card {
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: 0px 4px 20px rgba(237, 237, 237, 0.5);
    border-radius: 20px;
    border: 1px solid #f8f9fa;
    padding: 30px;
  }
  
  .chart-title {
    font-size: 20px;
    font-weight: 600;
    color: #05004e;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .chart-bars {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .chart-group {
    text-align: center;
  }
  
  .chart-label {
    font-size: 10px;
    color: #7b91b0;
    margin-top: 5px;
  }
  
  .bar-container {
    width: 24px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .bar-income {
    width: 100%;
    height: 100px;
    background: #4ab58e;
    border-radius: 4px;
  }
  
  .bar-expense {
    width: 100%;
    height: 40px;
    background: #ffcf00;
    border-radius: 4px;
  }
  
  .summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .summary-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .summary-icon {
    width: 36px;
    height: 36px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .income-icon {
    background: #e2fff3;
  }
  
  .expense-icon {
    background: #fff4de;
  }
  
  .summary-info {
    display: flex;
    flex-direction: column;
  }
  
  .summary-title {
    font-size: 12px;
    font-weight: 600;
    color: #151d48;
  }
  
  .summary-subtitle {
    font-size: 10px;
    color: #737791;
  }
  
  .summary-value {
    font-size: 14px;
    font-weight: 500;
  }
  
  .income {
    color: #27ae60;
  }
  
  .expense {
    color: #ffa412;
  }