.stock-modify {
    width: 80px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
}

.stock-modify:focus {
    outline: none;
    border-color: #D9D9D9;
    box-shadow: 0 0 0 2px rgba(241, 200, 182, 0.2);
}

/* 숫자 입력 화살표 스타일링 */
.stock-modify::-webkit-inner-spin-button,
.stock-modify::-webkit-outer-spin-button {
    opacity: 1;
    height: 20px;
}

/* 주문하기 버튼 스타일 */
.order-button {
    margin-top: 10px;
    background-color: white;
    color: #4FD1C5;
    border: 1px solid #ddd;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-left: 700px;
} 

.button-container :hover{
    background-color: white;
}

.button-container {
    display: flex;
    justify-content: center;
}

.order-tabs {
    display: flex;
    gap: 20px;
    padding: 6.5px 20px;
    border-bottom: 1px solid #ddd;
}

.tab-button {
    background: none;
    border: none;
    color: #adadad;
    cursor: pointer;
    position: relative;
}

.tab-button.active {
    color: #2D3748;
}

/* .tab-button.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2D3748;
} */

/* 테이블 열 너비 조정 */
table th:nth-child(1),
table td:nth-child(1) {
    width: 15%;
}

table th:nth-child(2),
table td:nth-child(2) {
    width: 20%;
}

table th:nth-child(3),
table td:nth-child(3) {
    width: 15%;
}

table th:nth-child(4),
table td:nth-child(4) {
    width: 15%;
}

table th:nth-child(5),
table td:nth-child(5) {
    width: 15%;
}

table th:nth-child(6),
table td:nth-child(6) {
    width: 20%;
}

.order-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: white;
}

.order-table th,
.order-table td {
    padding: 12px 8px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 재고주문 테이블 열 너비 */
.order-table th:nth-child(1), /* 메뉴/옵션 번호 */
.order-table td:nth-child(1) {
    width: 15%;
    min-width: 100px;
}

.order-table th:nth-child(2), /* 메뉴/옵션 이름 */
.order-table td:nth-child(2) {
    width: 15%;
    min-width: 150px;
}

.order-table th:nth-child(3), /* 현재 수량 */
.order-table td:nth-child(3) {
    width: 15%;
    min-width: 90px;
}

.order-table th:nth-child(4), /* 주문 수량 */
.order-table td:nth-child(4) {
    width: 20%;
    min-width: 90px;
}

.order-table th:nth-child(5), /* 결제 금액 */
.order-table td:nth-child(5) {
    width: 15%;
    min-width: 100px;
}

.order-table th:nth-child(6), /* 결제 날짜 */
.order-table td:nth-child(6) {
    width: 20%;
    min-width: 120px;
}