<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="order">

	   <!-- 주문 생성 -->
   <insert id="insertOrder" parameterType="order">
        INSERT INTO ORDERS (ORDER_NO, TABLE_NO, PAYMENT_ID, TOTAL_PRICE, ORDER_DATE)
        VALUES (ORDER_SEQ.NEXTVAL, #{tableNo}, #{paymentId}, #{totalPrice}, SYSDATE)
    </insert>

    <!-- 방금 생성된 ORDER_NO 가져오기 -->
    <select id="getLastOrderNo" resultType="int">
        SELECT ORDER_SEQ.CURRVAL FROM DUAL
    </select>

    <!-- 특정 테이블의 주문 조회 -->
    <select id="getOrdersByTable" parameterType="int" resultType="order">
        SELECT * FROM ORDERS WHERE TABLE_NO = #{tableNo}
    </select>

    <!-- 전체 주문 조회 -->
    <select id="getAllOrders" resultType="order">
        SELECT * FROM ORDERS ORDER BY ORDER_DATE DESC
    </select>

    <!-- 주문 업데이트 -->
    <update id="updateOrder" parameterType="order">
        UPDATE ORDERS
        SET PAYMENT_ID = #{paymentId}, TOTAL_PRICE = #{totalPrice}
        WHERE ORDER_NO = #{orderNo}
    </update>

</mapper>
